
  <div class="item item-text-wrap">
    <canvas id="weight_bar" class="chart chart-line" data="weight_data" labels="weight_labels" legend="true"
            series="weight_series" options="{showTooltips: false}" colours="weight_colours"></canvas>
  </div>
  <!--<div class="item item-text-wrap">
    <button ng-click="weightBarArea()" class="btn btn-success">
      Bar
    </button>
    <button ng-click="weightLineArea()" class="btn btn-success">
      Line
    </button>
  </div>-->

  <div class="item item-text-wrap">
    <canvas id="height_bar" class="chart chart-line" data="height_data" labels="height_labels" legend="true"
            series="height_series" options="{showTooltips: false}" colours="height_colours"></canvas>
  </div>
  <!--<div class="item item-text-wrap">
    <button ng-click="heightBarType()" class="btn btn-success">
      Bar
    </button>
    <button ng-click="heightLineType()" class="btn btn-success">
      Line
    </button>
  </div>-->
