<ion-view view-title="Dashboard">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Your groups
      </div>
      <div class="item item-text-wrap">
        <select name="myGroups" id="myGroups"
                ng-options="group.name for group in groups track by group.id"
                ng-model="selectedGroup"
                ng-change="getStudents(selectedGroup.id)"
                novalidate="">
        </select>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Group: {{selectedGroup.name}}
      </div>
      <div class="item item-text-wrap">
        <ng-include src="'/templates/views/dashboard_student.html'"></ng-include>
      </div>
    </div>

    <div class="card" ng-if="chosenStudent.weight > 0 || chosenStudent.height > 0">
      <div class="item item-divider">
        {{chosenStudent.firstName}} {{chosenStudent.lastName}}
      </div>
      <ng-include src="'/templates/views/dashboard_charts.html'"></ng-include>
    </div>


  </ion-content>


  <!-- include bottom menu -->
  <!--<ng-include src="'/templates/bottom_menu.html'"></ng-include>-->
</ion-view>
