<ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide ng-repeat="student in students">
    <div class="dashboard-student-data">
      <img class="student-photo" src="./img/userImages/{{student.photoName}}"/>

      <div class="column">
        <p class="attribute-name">First Name:</p>

        <p class="attribute-name">Last Name:</p>

        <p class="attribute-name">Birthdate:</p>

        <p class="attribute-name">Age:</p>

        <p class="attribute-name" ng-if="student.weight">Weight:</p>

        <p class="attribute-name" ng-if="student.height">Height:</p>

        <p class="attribute-name" ng-if="student.bmi">BMI:</p>
      </div>
      <div class="column">

        <p class="attribute-value">{{student.firstName}}</p>

        <p class="attribute-value">{{student.lastName}}</p>

        <p class="attribute-value">{{student.birthdate}}</p>

        <p class="attribute-value">{{student.age}}</p>

        <p class="attribute-value" ng-if="student.weight" > 0">{{student.weight}}</p>

        <p class="attribute-value" ng-if="student.height" > 0">{{student.height}}</p>

        <p class="attribute-value" ng-if="student.bmi" > 0">
          <span
            ng-class="{blue: student.bmi_status == 1, green: student.bmi_status == 2, orange: student.bmi_status == 3, red: student.bmi_status == 4}">
            {{student.bmi}}
          </span>
        </p>
      </div>
    </div>
  </ion-slide>
</ion-slide-box>
