<ion-view view-title="Diets">

  <ion-header-bar align-title="right" class="bar-dark bar-subheader">
    <div class="buttons">
      <button class="button button-icon ion-plus-circled add-button"
              ng-click="addDiet()"> Add
      </button>
      <button class="button button-icon icon ion-trash-b remove-button"
              ng-click="shouldShowDelete = !shouldShowDelete;"> Delete
      </button>
    </div>
  </ion-header-bar>

  <ion-content>
    <ion-list ng-repeat="diet in diets"
              show-delete="shouldShowDelete">
      <ion-item menu-close href="#/app/diets/{{diet.id}}">
        <div class="row">
          <div class="col list-main">
            <p>{{diet.name}}</p>
          </div>
        </div>
        <ion-delete-button class="ion-minus-circled"
                           ng-click="onItemDelete(diet)">
        </ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
