<ion-view view-title="{{student.firstName}} {{student.lastName}}">
  <ion-header-bar align-title="right" class="bar-dark bar-subheader">
    <div class="buttons">
      <button class="button button-icon ion-edit add-button"
              ng-click="editStudent()"> Edit
      </button>
      <button class="button button-icon ion-ios-paper-outline add-button"
              ng-click="showTimesheet()"> Presence
      </button>
    </div>
  </ion-header-bar>

  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Basic Data
      </div>
      <div class="item item-text-wrap">
        <div class="row" ng-if="student.photoName != null">
          <div class="list-image-container"
               style="background-image: url('./img/userImages/{{student.photoName}}');">
          </div>
        </div>
        <div class="row">
          <div class="col">Group:</div>
          <div class="col">{{student.groupName}}</div>
        </div>
        <div class="row">
          <div class="col">Age:</div>
          <div class="col">{{student.age}}</div>
        </div>
        <div class="row">
          <div class="col">Weight:</div>
          <div class="col">{{student.weight}}</div>
        </div>
        <div class="row">
          <div class="col">Height:</div>
          <div class="col">{{student.height}}</div>
        </div>
        <div class="row">
          <div class="col">BMI:</div>
          <div class="col">{{student.bmi}}</div>
        </div>
        <div class="row">
          <div class="col">Rank:</div>
          <div class="col">test</div>
        </div>
        <div class="row progress-container">
          <div class="progress">
            <p>50%</p>
          </div>
        </div>

      </div>
    </div>
    <div class="card" ng-if="studentTraningPlans.length > 0">
      <div class="item item-divider">
        Training plans
      </div>
      <div class="item item-text-wrap">
        <ion-list>
          <ion-item ng-repeat="trainingPlan in studentTraningPlans" class="student-list-item"
                    href="#/app/trainingplans/{{trainingPlan.id}}">
            {{trainingPlan.name}}
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div class="card" ng-if="studentContraindications.length > 0">
      <div class="item item-divider">
        Important information / Contrainications
      </div>
      <div class="item item-text-wrap">
        <ion-list>
          <ion-item ng-repeat="contraindication in studentContraindications">
            <div ng-bind-html="contraindication">
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>
    </div>
    <div class="card" ng-if="studentDiets.length > 0">
      <div class="item item-divider">
        Diets
      </div>
      <div class="item item-text-wrap">
        <ion-list>
          <ion-item ng-repeat="diet in studentDiets" class="student-list-item" href="#/app/diets/{{diet.id}}">
            {{diet.name}}
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div class="card" ng-if="studentGoals.length > 0">
      <div class="item item-divider">
        Goals
      </div>
      <div class="item item-text-wrap">
      </div>
    </div>
  </ion-content>
</ion-view>
