<ion-view view-title="{{student.firstName}} {{student.lastName}}">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Basic Data
      </div>
      <div class="item item-text-wrap">
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Training plans
      </div>
      <div class="item item-text-wrap">
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Goals
      </div>
      <div class="item item-text-wrap">
      </div>
    </div>
  </ion-content>
</ion-view>
