<ion-view view-title="Students">

  <ion-header-bar align-title="right" class="bar-dark bar-subheader">
    <div class="buttons">
      <button class="button button-icon ion-plus-circled add-button"
              ng-click="addStudent()"> Add
      </button>
      <button class="button button-icon icon ion-trash-b remove-button"
              ng-click="shouldShowDelete = !shouldShowDelete;" ng-show="students.length > 0"> Delete
      </button>
    </div>
  </ion-header-bar>

  <ion-content>
    <ion-list ng-repeat="student in students"
              show-delete="shouldShowDelete">

      <ion-item menu-close href="#/app/students/{{student.id}}">
        <div class="row">

          <div class="col">
            <div class="row list-main">
              <p>{{student.firstName}} {{student.lastName}}</p>
            </div>
            <div class="row list-details">
              <p>{{student.age}} years old</p>
            </div>
            <div class="row list-details">
              <p>{{student.groupName}}</p>
            </div>
          </div>

          <div class="col">
            <div class="list-image-container"
                 style="background-image: url('./img/userImages/{{student.photoName}}');">
            </div>
          </div>

        </div>
        <ion-delete-button class="ion-minus-circled"
                           ng-click="onItemDelete(student)">
        </ion-delete-button>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
