<div class="row" ng-if="student.photoName != null">
  <div class="list-image-container"
       style="background-image: url('./img/userImages/{{student.photoName}}');">
  </div>
</div>
<div class="row">
  <div class="col">Group:</div>
  <div class="col">{{student.groupName}}</div>
</div>
<div class="row">
  <div class="col">Age:</div>
  <div class="col">{{student.age}}</div>
</div>
<div class="row">
  <div class="col">Weight:</div>
  <div class="col">{{student.weight}}</div>
</div>
<div class="row">
  <div class="col">Height:</div>
  <div class="col">{{student.height}}</div>
</div>
<div class="row">
  <div class="col">BMI:</div>
  <div class="col">{{student.bmi}}</div>
</div>
<div class="row">
  <div class="col">Rank:</div>
  <div class="col">test</div>
</div>
<div class="row progress-container">
  <div class="progress">
    <p>50%</p>
  </div>
</div>
