<ion-view view-title="{{trainingPlan.name}}">
  <ion-header-bar align-title="right" class="bar-dark bar-subheader">
    <div class="buttons">
      <button class="button button-icon ion-edit center-button"
              ng-click="editTrainingPlan()"> Edit
      </button>
      <button class="button button-icon ion-pizza center-button"
              ng-click="setActiveDiet()"> Set Active Diet
      </button>
    </div>
  </ion-header-bar>

  <ion-content>

    <div class="card">
      <div class="item item-divider">
        Details
      </div>
      <div class="item item-text-wrap">

        <div class="row">
          <div class="col">
            <div class="description" ng-bind-html="trainingPlan.description">{{trainingPlan.description}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" ng-if="trainingPlan.exerciseSets != null">
      <div class="item item-divider">
        Exercise Sets assigned
        <div class="buttons">
          <button class="button button-icon ion-minus-round center-button"
                  ng-click="showDeleteExerciseSet = !showDeleteExerciseSet"> Unassign Exercise Set
          </button>
        </div>
      </div>
      <div class="item item-text-wrap">
        <ion-list show-delete="showDeleteExerciseSet">
          <ion-item ng-repeat="exerciseSet in trainingPlan.exerciseSets" href="#/app/exercisesets/{{exerciseSet.id}}">
            <p>{{exerciseSet.name}}</p>
            <ion-delete-button class="ion-minus-circled"
                               ng-click="unassignExerciseSet(exerciseSet)">
            </ion-delete-button>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div class="card" ng-if="trainingPlan.students != null">
      <div class="item item-divider">
        Students assigned
        <div class="buttons">
          <button class="button button-icon ion-minus-round center-button"
                  ng-click="showDeleteStudent = !showDeleteStudent"> Unassign Student
          </button>
        </div>
      </div>
      <div class="item item-text-wrap">
        <ion-list show-delete="showDeleteStudent">
          <ion-item ng-repeat="student in trainingPlan.students" href="#/app/students/{{student.id}}">
            <p>{{student.firstName}} {{student.lastName}}</p>
            <ion-delete-button class="ion-minus-circled"
                               ng-click="unassignStudent(student)">
            </ion-delete-button>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div class="card" ng-if="trainingPlan.diets != null">
      <div class="item item-divider">
        Diets assigned
        <div class="buttons">
          <button class="button button-icon ion-minus-round center-button" ng-click="showDeleteDiet = !showDeleteDiet">
            Unassign Diet
          </button>
        </div>
      </div>
      <div class="item item-text-wrap">
        <ion-list show-delete="showDeleteDiet" ng-repeat="diet in diets">
          <ion-item href="#/app/diets/{{diet.id}}">
            <p ng-class="{'active_diet': diet.active == true}">
              <i ng-if="diet.active == true" class="ion-checkmark-round"></i> {{diet.name}}
              <span style="color: green; text-transform: none;" ng-if="diet.active == 1">(active)</span></p>
            <ion-delete-button class="ion-minus-circled"
                               ng-click="unassignDiet(diet)">
            </ion-delete-button>
          </ion-item>
        </ion-list>
      </div>
    </div>

  </ion-content>

</ion-view>
